################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SamuelCRodrigues.VdLink.Agenda/.vs/SamuelCRodrigues.VdLink.Agenda/config/applicationhost.config
